<!--
  Copyright 2011,2012 CLOUDS Laboratory, The University of Melbourne
   
   This file is part of Cloud Web Portal (CWP).
 
   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at
 
       http://www.apache.org/licenses/LICENSE-2.0
 
   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
-->

@using CloudWebPortal.Models
@using CloudWebPortal.Areas.Aneka.Models
@using Aneka.PAL.Management.Model
@{
    Layout = null;

    List<CloudWebPortal.Areas.Aneka.Models.Machine> machines = (List<CloudWebPortal.Areas.Aneka.Models.Machine>)ViewBag.Machines;
    List<Cloud> clouds = (List<Cloud>)ViewBag.Clouds;

    int num_of_activities = 0;
}
<div id="allActivities">
<a id="activities_list" href="#" class="button" title=""><span class="progress-bar"><span class="orange with-stripes"></span></span> </a>
		<div id="messages-list" class="result-block">
			<span class="arrow"><span></span></span>
<ul class="small-files-list icon-dll">
    @foreach (var machine in machines)
    {
        if (machine.isInProgress)
        {
             <li>
		        <a href="#" onclick="openModalWindow(@machine.MachineId,'Details','_Machines',null,1100,'Aneka')" title="Show Machine Details" class="with-tip">
                <strong>@machine.ProgressMesage: </strong> @machine.DisplayName<br>
		        <small>IP: @machine.IP</small></a>
	        </li>
            num_of_activities++;
        }
    }

    @foreach (var cloud in clouds)
    {
        if (cloud.Master.isInProgress)
        {
             <li>
		        <a href="#" onclick="openModalWindow(@cloud.CloudId,'Details','_Clouds',null,1300,'Aneka')" title="Show Cloud/Master Details" class="with-tip">
                <strong>@cloud.Master.ProgressMesage: </strong> @cloud.CloudName<br>
		        <small>Master: @cloud.Master.DisplayName</small></a>
	        </li>
            num_of_activities++;
        }
        
        foreach (var worker in cloud.Workers)
        {
            if (worker.isInProgress)
            {
             <li>
		        <a href="#" onclick="openModalWindow(@worker.WorkerId,'Details','_Workers',null,700,'Aneka')" title="Show Worker Details" class="with-tip">
                <strong>@worker.ProgressMesage: </strong> @cloud.CloudName<br>
		        <small>Worker: @worker.DisplayName</small></a>
	        </li>
                num_of_activities++;
            }
        }
    }

    
</ul>



<p id="messages-info" class="result-info"><a href="#">Go to activities center &raquo;</a></p>
		</div>
        </div>

        <script type="text/javascript">
            $(document).ready(function () {
                var activities = @(num_of_activities);
                if(activities != 0)
                {
                    $("#activities_list").attr("title", "@num_of_activities Activities");
                    $("#activities_list").append("<strong>@num_of_activities</strong>");
                }
                else
                {
                    $("#allActivities").html(' ');
                }
            });
</script>