<!--
  Copyright 2011,2012 CLOUDS Laboratory, The University of Melbourne
   
   This file is part of Cloud Web Portal (CWP).
 
   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at
 
       http://www.apache.org/licenses/LICENSE-2.0
 
   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/css/reset.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/Content/css/common.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/Content/css/form.css")" rel="stylesheet" type="text/css">
    <!-- Load either 960.gs.fluid or 960.gs to toggle between fixed and fluid layout -->
    <link href="@Url.Content("~/Content/css/standard.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/Content/css/960.gs.fluid.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/Content/css/simple-lists.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/Content/css/block-lists.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/Content/css/planning.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/Content/css/table.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/Content/css/calendars.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/Content/css/wizard.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/Content/css/gallery.css")" rel="stylesheet" type="text/css">
    
	<script type="text/javascript" src="@Url.Content("~/Scripts/js/libs/modernizr.custom.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/js/libs/jquery-1.6.3.min.js")"></script><!-- make sure that you have the right link -->
    <script type="text/javascript" src="@Url.Content("~/Scripts/js/old-browsers.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/js/jquery.accessibleList.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/js/searchField.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/js/common.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/js/standard.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/js/jquery.tip.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/js/libs/jquery.hashchange.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/js/jquery.contextMenu.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/js/list.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/js/jquery.modal.js")"></script>
	
    <!-- highcharts -->
    <script type="text/javascript" src="@Url.Content("~/Scripts/Highcharts-js/highcharts.js")"></script>
    <!-- Date Time Picker -->
    <script type="text/javascript" src="@Url.Content("~/Content/DateTimePicker/datetimepicker_css.js")"></script>

    <!--[if lte IE 8]><script type="text/javascript" src="js/standard.ie.js"></script><![endif]-->
    <!-- Function To Open a Modal -->
    <script type="text/javascript">
    function openModalWindow(id, actionName, controllerName, modalTitle, modalWidth, areaName) {
        if(modalWidth == null)
            modalWidth = 600;

        $.modal.all.getModalWindow().closeModal();
        window.setTimeout(function () {
            $.modal({
                content: '<div id="ModelContent"></div>',
                minWidth: modalWidth,
                height: 500,
                buttons: {
                    'Cancel': function (win) { win.closeModal(); }
                }
            });
            var loadingHTML = "<h2>LOADING ..</h2><br/><br/><img src='@Url.Content("~/Content/images/mask-loader.gif")' alt='loading...' />  Please wait ..";
            if(areaName == null)
                $("#ModelContent").html(loadingHTML).load("@Url.Content("~/")"+controllerName+"/"+actionName+"/" + id);
            else
                $("#ModelContent").html(loadingHTML).load("@Url.Content("~/")"+areaName+"/"+controllerName+"/"+actionName+"/" + id);
        }, 500);
    }

    function openModalWindow_ForWidget(username, actionName, controllerName, width, actionId, areaName) {
        window.setTimeout(function () {
            $.modal({
                content: '<div id="ModelContent_ForWidget"></div>',
                title: "Add Widget To The Dashboard",
                height: 500,
                buttons: {
                    'Cancel': function (win) { win.closeModal(); }
                }
            });
            var loadingHTML = "<h2>LOADING ..</h2><br/><br/><img src='@Url.Content("~/Content/images/mask-loader.gif")' alt='loading...' />  Please wait ..";
            if(areaName == null)
                $("#ModelContent_ForWidget").html(loadingHTML).load("@Url.Content("~/_DashboardWidgets/CreateForLoggedInUser")"+"?username=" + username + "&actionName="+actionName+"&controllerName="+controllerName+"&width="+width+"&actionId="+actionId);
            else
                $("#ModelContent_ForWidget").html(loadingHTML).load("@Url.Content("~/_DashboardWidgets/CreateForLoggedInUser")"+"?username=" + username + "&actionName="+actionName+"&controllerName="+controllerName+"&width="+width+"&actionId="+actionId+"&areaName="+areaName);
        }, 500);
    }
    </script>
</head>
<body>
    <!-- Server status -->
    <header>
        <div class="container_12">
            <p id="skin-name">
                <small>Cloud Web Portal<br>
                    Beta</small> <strong>1.0</strong></p>
            <div class="server-info">
                Server: <strong>The University of Melbourne</strong></div>
            <div class="server-info">
                Aneka: <strong>2.0</strong></div>
        </div>
    </header>
    <!-- End server status -->
    <!-- Main nav -->
    <nav id="main-nav">
        <ul class="container_12">
            <!-- Home -->
            <li id="Nav_Home" class="settings"><a href="@Url.Action("Dashboard", "Home", new { area = "" })" title="Home"></a>
                <ul>
                    <li id="Nav_Home_1"><a href="@Url.Action("Dashboard", "Home", new { area = "" })" title="Dashboard">Dashboard</a></li>
                </ul>
            </li>

            <!-- Resources -->
            <li id="Nav_Resources" class="home"><a href="#" title="Resources"></a>
                <ul>
                    <li id="Nav_Resource_1"><a href="#" title="Dashboard">Manage Resources</a></li>
                </ul>
            </li>

            <!-- Aneka -->
            <li id="Nav_Aneka" class="stats"><a href="#" title="Aneka"></a>
                <ul>

                    <!-- Infrastructure -->
                    <li id="Nav_Aneka_1" class="with-menu"><a href="@Url.Action("ManageMachinesandResourcePools", "Infrastructure", new { area = "Aneka" })">Infrastructure</a>
                        <!-- Here comes the menu -->
                        <div class="menu">
     
                            <!-- This is the arrow down image -->
                            <img src="/Content/images/menu-open-arrow.png" width="16" height="16">
         
                            <!-- Menu content -->
                            <ul>
                                <li class="icon_server"><a href="@Url.Action("ManageMachinesandResourcePools", "Infrastructure", new { area = "Aneka" })">Manage Machines and Resource Pools</a>
                                    <ul>
                                        <li class="icon_server"><a href="#" onclick="openModalWindow(null,'Create','_Machines','Add Machine',600,'Aneka')">
                        Add Machine</a></li>
                                        <li class="icon_server"><a href="#" onclick="openModalWindow(null,'Create','_ResourcePools','Create New Resource Pool',600,'Aneka')">
                        Create New Resource Pool</a></li>
                                    </ul>
                                </li>

                                <li class="icon_server"><a href="@Url.Action("ManageMachinesLoginCredentials", "Infrastructure", new { area = "Aneka" })">Manage Machines Login Credentials</a>
                                    <ul>
                                        <li class="icon_server"><a href="#" onclick="openModalWindow(null,'Create','_MachinesLoginCredentials','Create Machine Login Credential',600,'Aneka')">
                        Create Machine Login Credential</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <!-- End  of menu content -->
                        </div>
                        <!-- Menu end -->
                    </li>

                    <!-- Software Appliances -->
                    <li id="Nav_Aneka_2" class="with-menu">
						<a href="@Url.Action("BrowseSoftwareAppliances", "SoftwareAppliances", new { area = "Aneka" })">Software Appliances</a>
                        <!-- Here comes the menu -->
                        <div class="menu">
     
                            <!-- This is the arrow down image -->
                            <img src="/Content/images/menu-open-arrow.png" width="16" height="16">
         
                            <!-- Menu content -->
                            <ul>
                                <li class="icon_server"><a href="#" onclick="openModalWindow(null,'Create','_SoftwareAppliances','Add Software Appliance',600,'Aneka')">
                        Add Software Appliance</a></li>
                            </ul>
                            <!-- End  of menu content -->
                        </div>
                        <!-- Menu end -->
                    </li>

                    <!-- Services -->
                    <li id="Nav_Aneka_3" class="with-menu">
						<a href="@Url.Action("BrowseServicesCatalog", "Services", new { area = "Aneka" })">Services Catalog</a>
                        <!-- Here comes the menu -->
                        <div class="menu">
     
                            <!-- This is the arrow down image -->
                            <img src="/Content/images/menu-open-arrow.png" width="16" height="16">
         
                            <!-- Menu content -->
                            <ul>
                                <li class="icon_server"><a href="#" onclick="openModalWindow(null,'Create','_Services','Create New Service',600,'Aneka')">
                        Create Service</a></li>
                            </ul>
                            <!-- End  of menu content -->
                        </div>
                        <!-- Menu end -->
                    </li>

                    <!-- Cloud -->
                    <li id="Nav_Aneka_4" class="with-menu"><a href="@Url.Action("BrowseClouds", "CloudManagement", new { area = "Aneka" })">Aneka Cloud Managment</a>
                        <!-- Here comes the menu -->
                        <div class="menu">
     
                            <!-- This is the arrow down image -->
                            <img src="/Content/images/menu-open-arrow.png" width="16" height="16">
         
                            <!-- Menu content -->
                            <ul>
                                <li class="icon_server"><a href="@Url.Action("BrowseClouds", "CloudManagement", new { area = "Aneka" })">Browse Clouds</a>
                                    <ul>
                                        <li class="icon_server"><a href="#" onclick="openModalWindow(null,'Create','_Clouds','Create New Cloud',600,'Aneka')">
                        Create A Cloud</a></li>
                                        <li class="icon_server"><a href="#" onclick="openModalWindow(null,'Create','_Workers','Create New Worker',600,'Aneka')">
                        Add New Worker</a></li>
                                    </ul>
                                </li>

                                <li class="icon_server"><a href="@Url.Action("BrowseCloudUsers", "CloudManagement", new { area = "Aneka" })">Browse
                        Cloud Users</a>
                                </li>
                            </ul>
                            <!-- End  of menu content -->
                        </div>
                        <!-- Menu end -->
                    </li>
                </ul>
            </li>

            <!-- SMICloud -->
            <li id="Nav_SMICloud" class="comments"><a href="#" title="SMICloud"></a>
                <ul>
                    <li id="Nav_SMICloud_1"><a href="#" title="QoS Managment">QoS Managment</a></li>
                    <li id="Nav_SMICloud_2"><a href="#" title="Ranking Result">Ranking Result</a></li>
                </ul>
            </li>

            <!-- Web Portal Users Management -->
            <li id="Nav_Users" class="users"><a href="#" title="Web Portal Users Management"></a>
                <ul>
                    <li id="Nav_Users_1"><a href="@Url.Action("UsersManagement", "WebPortalUsersManagement", new { area = "" })">
                        Users management</a></li>
                    <li id="Nav_Users_2"><a href="#" onclick="openModalWindow(null,'Create','_PortalUsers','Create New User',600,'Aneka')">
                        Create New User</a></li>
                    <li id="Nav_Users_3"><a href="#" onclick="openModalWindow(null,'Create','_DashboardWidgets','Add Widget To Dashboard',600,'Aneka')">
                        Add Widget To Dashboard</a></li>
                </ul>
            </li>
        </ul>

    </nav>
    <!-- End main nav -->
    <!-- Sub nav -->
    <div id="sub-nav">
        <div class="container_12">
            <a href="#" title="Help" class="nav-button"><b>Help</b></a>
        </div>
    </div>
    <!-- End sub nav -->
    <!-- Status bar -->
    <div id="status-bar">
        <div class="container_12">
    @* The the two divs above will be closed inside the included view *@ 
    @Html.Partial("StatusInfoBar")
    @RenderBody()
</body>
</html>
