<!--
  Copyright 2011,2012 CLOUDS Laboratory, The University of Melbourne
   
   This file is part of Cloud Web Portal (CWP).
 
   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at
 
       http://www.apache.org/licenses/LICENSE-2.0
 
   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
-->

@using CloudWebPortal.Models
@model Cloud
@{
    Layout = null;
    Machine MasterMachine = (Machine)ViewBag.MasterMachine;
    Dictionary<int, Machine> WorkersMachines = (Dictionary<int, Machine>) ViewBag.WorkersMachines;
}
<div class="block-content">
    <h1>
        @Model.CloudName Cloud Workers <a href="#" onclick="openModalWindow(null,'Create','_Workers')">
            <img src="@Url.Content("~/Content/images/icons/fugue/plus-circle-blue.png")" width="16" height="16" alt="">Add
            New Worker</a></h1>
    <div class="block-controls">
        <ul class="controls-buttons">
            <li><a href="@Url.Action("RefreshAllWorkers", "_Workers", new { id = Model.CloudId })" title="Refreash All Workers">
                        <img src="@Url.Content("~/Content/images/icons/fugue/arrow-circle.png")" width="16" height="16">
                        Refreash All Workers</a></li>

            <li><a href="@Url.Action("RefreshMaster", "_Clouds", new { id = Model.CloudId })" title="Refreash Master">
                        <img src="@Url.Content("~/Content/images/icons/fugue/arrow-circle.png")" width="16" height="16">
                        Refreash Master</a></li>

                    <li class="sep"></li>

            <li id="Widget_Link"><a href="#" onclick="openModalWindow_ForWidget('@HttpContext.Current.User.Identity.Name','Details','_Clouds',12,@Model.CloudId)" title="Add This Widget To The Dashboard">
                <img src="@Url.Content("~/Content/images/icons/fugue/plus-circle.png")" width="16" height="16"></a></li>
        </ul>
    </div>
    <ul class="icon-list icon-worker">
        <li><a href="#" onclick="openModalWindow(@MasterMachine.MachineId,'Details','_Machines',null,1100)">
                <span class="icon icon-master"></span>@Model.Master.DisplayName<br />
                <small>Port: <b>@Model.Master.Port</b></small><br />
                <small>Machine: <b>@MasterMachine.DisplayName</b></small> </a></li>
    
        @foreach (var worker in Model.Workers)
        {
            
            <li><a href="#" onclick="openModalWindow(@worker.WorkerId,'Details','_Workers',null,900)">
                <span class="icon"></span>
                @worker.DisplayName<br />
                <small>Port: <b>@worker.Port</b></small> <br />
                <small>Machine: <b>@WorkersMachines[worker.WorkerId].DisplayName</b></small> </a></li>
        }
    </ul>
</div>
<br />
<br />
<div class="block-content">
    <h1>
        @Model.CloudName Cloud Details
    </h1>
    <!-- Add the class 'table' -->
    <table class="table" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th scope="col">@Html.LabelFor(model => model.DBConnectionString)
                </th>
                <th scope="col">@Html.LabelFor(model => model.SecuritySharedKey)
                </th>
                <th scope="col">@Html.LabelFor(model => model.Workers)
                </th>
                <th scope="col">@Html.LabelFor(model => model.CloudUserAccounts)
                </th>
                <th scope="col">@Html.LabelFor(model => model.Master.DisplayName)
                </th>
                <th scope="col">@Html.LabelFor(model => model.Master.Services)
                </th>
                <th scope="col">@Html.LabelFor(model => model.Master.Port)
                </th>
                <th scope="col">@Html.LabelFor(model => model.Master.Cost)
                </th>
                <th scope="col">@Html.LabelFor(model => model.Master.MasterFailoverBackupURI)
                </th>
                <th scope="col">@Html.Label("Master Status")
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div class="more-events">
                        Show Connection String
                        <ul>
                            <li class="icon-file">@Html.DisplayFor(model => model.DBConnectionString)</li>
                        </ul>
                    </div>
                </td>
                <td>
                    <div class="more-events">
                        Show Security Shared Key
                        <ul>
                            <li class="icon-file">@Html.DisplayFor(model => model.SecuritySharedKey)</li>
                        </ul>
                    </div>
                </td>
                <td>
                    <div class="more-events">@Model.Workers.Count() Workers
                        <ul>
                            @foreach (var worker in Model.Workers.ToList())
                            {
                                <li class="icon-file"><a href="#" onclick="openModalWindow(@Html.DisplayFor(widgetItem => worker.WorkerId),'Details','_Workers')">@Html.DisplayFor(Item => worker.DisplayName)</a></li>
                            }
                        </ul>
                    </div>
                </td>
                <td>
                    <div class="more-events">@Model.CloudUserAccounts.Count() Users
                        <ul>
                            @foreach (var user in Model.CloudUserAccounts.ToList())
                            {
                                <li class="icon-file"><a href="#" onclick="openModalWindow(@Html.DisplayFor(widgetItem => user.CloudUserAccountId),'Details','_CloudUsers')">@Html.DisplayFor(Item => user.Username)</a></li>
                            }
                        </ul>
                    </div>
                </td>
                <td>
                    @Html.DisplayFor(model => model.Master.DisplayName)
                </td>
                <td>
                    <div class="more-events">@Model.Master.Services.Count() Services
                        <ul>
                            @foreach (var service in Model.Master.Services.ToList())
                            {
                                <li class="icon-file"><a href="#" onclick="openModalWindow(@Html.DisplayFor(widgetItem => service.ServiceId),'Details','_Services',null,600)">@Html.DisplayFor(Item => service.Name)</a></li>
                            }
                        </ul>
                    </div>
                </td>
                <td>
                    @Html.DisplayFor(model => model.Master.Port)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Master.Cost)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Master.MasterFailoverBackupURI)
                </td>
                <td>
                @if (Model.Master.isInProgress != null && Model.Master.isInProgress == true)
                {
                    <span class="button">@Model.Master.ProgressMesage
					    <span class="progress-bar"><span class="orange with-stripes"></span></span>
					</span>
                }
                else
                {
                    if (Model.Master.StatusEnum == Aneka.UI.Configuration.ProbeStatus.Error)
                    {
                            <a title="@Model.Master.StatusEnum" class="with-tip"><img src="@Url.Content("~/Content/images/icons/fugue/cross-circle.png")" width="16" height="16"/></a> @Model.Master.ProgressMesage <text> - </text>
                    }
                    else
                    {
                        if (Model.Master.isInstalled != null && Model.Master.isInstalled == false)
                        {
                        <a title="@Model.Master.StatusEnum" class="with-tip"><img src="@Url.Content("~/Content/images/icons/fugue/cross-circle.png")" width="16" height="16"/></a> <text>Not Installed</text>
                        }
                        else
                        {
                            if (Model.Master.StatusEnum == Aneka.UI.Configuration.ProbeStatus.ServiceActive)
                            {
                                <a title="@Model.Master.StatusEnum" class="with-tip"><img src="@Url.Content("~/Content/images/icons/fugue/status.png")" width="16" height="16"/></a>
                            }
                            else
                            {
                                if (Model.Master.StatusEnum == Aneka.UI.Configuration.ProbeStatus.ServiceUnactive)
                                {
                                    <a title="@Model.Master.StatusEnum" class="with-tip"><img src="@Url.Content("~/Content/images/icons/fugue/status-busy.png")" width="16" height="16"/></a>
                                }
                                else
                                {
                                    if (Model.Master.StatusEnum == Aneka.UI.Configuration.ProbeStatus.NetworkUnreachable)
                                    {
                                        <a title="@Model.Master.StatusEnum" class="with-tip"><img src="@Url.Content("~/Content/images/icons/fugue/status-offline.png")" width="16" height="16"/></a>
                                    }
                                    else
                                    {
                                        <a title="@Model.Master.StatusEnum" class="with-tip"><img src="@Url.Content("~/Content/images/icons/fugue/exclamation-diamond.png")" width="16" height="16"/></a>
                                    }
                                }
                            }
                            @Model.Master.StatusEnum
                        }
                    }
                }
                </td>
            </tr>
        </tbody>
    </table>
    <div class="block-footer">
        <a href="#" onclick="openModalWindow(@Html.DisplayFor(modelItem => modelItem.CloudId),'Edit','_Clouds','Edit Cloud')" class="button">
            Edit this cloud and its master</a> <a href="#" class="button" onclick="openModalWindow(@Html.DisplayFor(modelItem => modelItem.CloudId),'Create','_Workers','Create New Worker')">
                Create New Worker For This Cloud</a> <a href="#" class="button" onclick="openModalWindow(@Html.DisplayFor(modelItem => modelItem.CloudId),'Create','_Services','Create New Service')">
                    Create New Service User For This Cloud</a> <a href="#" class="button" onclick="openModalWindow(@Html.DisplayFor(modelItem => modelItem.CloudId),'Create','_CloudUsers','Create New Cloud')">
                        Create New Cloud User For This Cloud</a> <span class="sep"></span>
        <a href="@Url.Action("StartContainer", "_Clouds", new { id = Html.DisplayFor(modelItem => modelItem.CloudId) })" class="button">
                        Start Container</a>
        <a href="@Url.Action("StopContainer", "_Clouds", new { id = Html.DisplayFor(modelItem => modelItem.CloudId) })" class="button">
                        Stop Container</a>
        <a href="@Url.Action("RestartContainer", "_Clouds", new { id = Html.DisplayFor(modelItem => modelItem.CloudId) })" class="button">
                        Restart Container</a>

        <a href="@Url.Action("CreateContainer", "_Clouds", new { id = Html.DisplayFor(modelItem => modelItem.CloudId) })" class="button">
                        Install Container</a>
        <a href="@Url.Action("DestroyContainer", "_Clouds", new { id = Html.DisplayFor(modelItem => modelItem.CloudId) })" class="button">
                        Uninstall Container</a>
        
        <span class="sep"></span>
        <a href="#" class="button" onclick="openModalWindow(@Html.DisplayFor(modelItem => modelItem.CloudId),'Delete','_Clouds','Remove Cloud')">
            <img src="@Url.Content("~/Content/images/icons/fugue/cross-circle.png")" width="16" height="16">
            Remove this cloud</a>
    </div>
</div>
