<!--
  Copyright 2011,2012 CLOUDS Laboratory, The University of Melbourne
   
   This file is part of Cloud Web Portal (CWP).
 
   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at
 
       http://www.apache.org/licenses/LICENSE-2.0
 
   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
-->

@model CloudWebPortal.Models.MachineLoginCredential
@{
    Layout = null;
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<div class="block-content">
    <h1>
        Create Machines Login Credential</h1>
    <div class="block-controls">
        <ul class="controls-buttons">
            <li class="sep"></li>
            <li id="Widget_Link"><a href="#" onclick="openModalWindow_ForWidget('@HttpContext.Current.User.Identity.Name','Create','_MachinesLoginCredentials',3)" title="Add This Widget To The Dashboard">
                <img src="@Url.Content("~/Content/images/icons/fugue/plus-circle.png")" width="16" height="16"></a></li>
        </ul>
    </div>
    @using (Html.BeginForm("CreatePost", "_MachinesLoginCredentials", FormMethod.Post, new { @class = "form" }))
    {
        <div id="ValidationSummaryDiv_MachinesLoginCredentials_Create">
            @Html.ValidationSummary()
        </div>
        <br />
        <fieldset>
            @Html.LabelFor(model => model.Username)
            @Html.TextBoxFor(model => model.Username, new { @class = "full-width" })
            @Html.LabelFor(model => model.Password)
            @Html.PasswordFor(model => model.Password, new { @class = "full-width" })
            @Html.Label("Link this credential to the following machines:")
            @Html.ListBox("MachinesList", (MultiSelectList)ViewBag.Machines, new { style = "width: 200px; height: 200px;" })
            <br />
            <br />
            <p>
                <button type="submit" class="full-width button">
                    Create</button>
            </p>
        </fieldset>
    }
</div>
<script type="text/javascript">
    $("button").click(function () {
        $("#ValidationSummaryDiv_MachinesLoginCredentials_Create ul").addClass("message error no-margin");
    });
</script>
