<!--
  Copyright 2011,2012 CLOUDS Laboratory, The University of Melbourne
   
   This file is part of Cloud Web Portal (CWP).
 
   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at
 
       http://www.apache.org/licenses/LICENSE-2.0
 
   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
-->

@model CloudWebPortal.Models.Machine
@{
    Layout = null;
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<div class="block-content">
    <h1>
        Add New Machine</h1>
    <div class="block-controls">
        <ul class="controls-buttons">
            <li class="sep"></li>
            <li id="Widget_Link"><a href="#" onclick="openModalWindow_ForWidget('@HttpContext.Current.User.Identity.Name','Create','_Machines',3)" title="Add This Widget To The Dashboard">
                <img src="@Url.Content("~/Content/images/icons/fugue/plus-circle.png")" width="16" height="16"></a></li>
        </ul>
    </div>
    @using (Html.BeginForm("CreatePost", "_Machines", FormMethod.Post, new { @class = "form" }))
    {
        <div id="ValidationSummaryDiv_Machines_Create">
            @Html.ValidationSummary()
        </div>
        <br />
        <fieldset>
            @Html.LabelFor(model => model.DisplayName)
            @Html.TextBoxFor(model => model.DisplayName, new { @class = "full-width" })
            @Html.LabelFor(model => model.IP)
            @Html.TextBoxFor(model => model.IP, new { @class = "full-width" })
            @Html.LabelFor(model => model.Platform)
            @Html.DropDownList("PlatformID", (SelectList)ViewBag.MachinePlatforms, new { style = "width: 200px;" })
            @Html.LabelFor(model => model.Type)
            @Html.DropDownList("TypeID", (SelectList)ViewBag.MachineTypes, new { style = "width: 200px;" })
            @Html.LabelFor(model => model.Daemon.Port)
            @Html.TextBoxFor(model => model.Daemon.Port, new { @class = "full-width", Value = "9000" })
            @Html.LabelFor(model => model.Daemon.Directory)
            @Html.TextBoxFor(model => model.Daemon.Directory, new { @class = "full-width", Value = "C:\\Program Files\\Manjrasoft\\Aneka.2.0" })
            @Html.Label("Resource Pool")
            @Html.ListBox("ResourcePool", (SelectList)ViewBag.ResourcePools, new { style = "width: 200px;" })
            @Html.Label("Login Credential")
            @Html.DropDownList("LoginCredential", (SelectList)ViewBag.LoginCredentials, "Without Login Credential", new { style = "width: 200px;" })
            @Html.Label("Software Appliances")
            @Html.ListBox("SoftwareAppliancesList", (MultiSelectList)ViewBag.SoftwareAppliances, new { style = "width: 200px;" })
            <br />
            <br />
            @Html.CheckBox("InstallDaemon", true, new { @class = "mini-switch" }) Install Aneka
            Daemon
            <small>Don't forget to configure the repository by setting the RepoAccessURL and RepoLocalLocation values in Web.config</small>
            <br />
            <br />
            <p>
                <button type="submit" class="full-width button">
                    Add</button>
            </p>
        </fieldset>
    }
    <script type="text/javascript">
        $("button").click(function () {
            $("#ValidationSummaryDiv_Machines_Create ul").addClass("message error no-margin");
        });
    </script>
