<!--
  Copyright 2011,2012 CLOUDS Laboratory, The University of Melbourne
   
   This file is part of Cloud Web Portal (CWP).
 
   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at
 
       http://www.apache.org/licenses/LICENSE-2.0
 
   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
-->

@model IEnumerable<CloudWebPortal.Areas.Aneka.Models.ResourcePool>
@{
    Layout = null;
    bool looped = false;
}
@foreach (var pool in Model)
{

    <div class="block-content">
        <h1>
            @Html.DisplayFor(modelItem => pool.ResourcePoolDisplayName)
            <a href="#" onclick="openModalWindow(@Html.DisplayFor(modelItem => pool.ResourcePoolId),'Create','_Machines')">
                <img src="@Url.Content("~/Content/images/icons/fugue/plus-circle-blue.png")" width="16" height="16" alt="">Add
                Machine To This Resource Pool</a>
        </h1>
        @if (!looped)
        {
            <text>
            <div class="block-controls">
                <ul class="controls-buttons">
                    <li><a href="@Url.Action("RefreshAllMachineInResourcePool", "_Machines", new { id = pool.ResourcePoolId })" title="Add This Widget To The Dashboard">
                        <img src="@Url.Content("~/Content/images/icons/fugue/arrow-circle.png")" width="16" height="16">
                        Refreash All Machines</a></li>
                    <li class="sep"></li>
                    <li id="Widget_Link"><a href="#" onclick="openModalWindow_ForWidget('@HttpContext.Current.User.Identity.Name','List','_ResourcePools',12)" title="Add This Widget To The Dashboard">
                        <img src="@Url.Content("~/Content/images/icons/fugue/plus-circle.png")" width="16" height="16"></a></li>
                </ul>
            </div>
            </text>
            looped = true;
        }
        else
        {
            <text>
            <div class="block-controls">
                <ul class="controls-buttons">
                    <li><a href="@Url.Action("RefreshAllMachineInResourcePool", "_Machines", new { id = pool.ResourcePoolId })" title="Add This Widget To The Dashboard">
                        <img src="@Url.Content("~/Content/images/icons/fugue/arrow-circle.png")" width="16" height="16">
                        Refreash All Machines</a></li>
                </ul>
            </div>
            </text>
        }
        <!-- The class dark-grey-gradient is optional, it just changes background color -->
        <ul class="grid dark-grey-gradient">
            @foreach (var machine in pool.Machines)
            {
                <li>
                    <!-- The class user displays a user icon, other available classes : computer, chart, print, warning -->
                    <div class="grid-picto computer">
                        <small>@Html.DisplayFor(modelItem => machine.Type.Type)</small>
                        <p class="grid-name">
                            <a href="#" onclick="openModalWindow(@Html.DisplayFor(widgetItem => machine.MachineId),'Details','_Machines',null,1100)">@Html.DisplayFor(modelItem => machine.DisplayName)</a></p>
                        <p class="grid-details">
                            IP: <b>@Html.DisplayFor(modelItem => machine.IP)</b><br />
                            Platform: <b>@Html.DisplayFor(modelItem => machine.Platform.Platform)</b><br />
                            @*Machine Status: <b>@machine.StatusEnum</b>*@
                            Appliances: <b>@machine.SoftwareAppliances.Count()</b><br />
                            Cloud Masters: <b>@machine.Masters.Count()</b><br />
                            Workers: <b>@machine.Workers.Count()</b><br />
@*                            <div class="columns">
                                <!-- Left column -->
                                <div class="colx2-left">
                                    <select class="small" style="width: 110px;" onchange="openModalWindow(this.options[this.selectedIndex].id,'Details','_SoftwareAppliances')">
                                        <option>@machine.SoftwareAppliances.Count() Appliances</option>
                                        @foreach (var SoftwareAppliance in machine.SoftwareAppliances.ToList())
                                        {
                                            <option id="@Html.DisplayFor(widgetItem => SoftwareAppliance.SoftwareApplianceId)">@Html.DisplayFor(Item => SoftwareAppliance.Name)</option>
                                        }
                                    </select>
                                </div>
                                <!-- Right column -->
                                <div class="colx2-right">
                                    <select class="small" style="width: 110px;" onchange="openModalWindow(this.options[this.selectedIndex].id,'Details','_Workers')">
                                        <option>@machine.Workers.Count() Workers</option>
                                        @foreach (var worker in machine.Workers.ToList())
                                        {
                                            <option id="@Html.DisplayFor(widgetItem => worker.WorkerId)">@Html.DisplayFor(Item => worker.DisplayName)</option>
                                        }
                                    </select>
                                    <select class="small" style="width: 110px;" onchange="">
                                        <option>@machine.Workers.Count() Masters</option>
                                        @foreach (var master in machine.Masters.ToList())
                                        {
                                            <option id="@Html.DisplayFor(widgetItem => master.MasterId)">@Html.DisplayFor(Item => master.DisplayName)</option>
                                        }
                                    </select>
                                </div>
                            </div>*@
                        </p>
                    </div>
                    <ul class="grid-actions">
                        <!-- Put anything you want in this list -->
                        <li>
                        @if (machine.isInProgress)
                        {
                            <a title="@machine.ProgressMesage" class="with-tip"><img src="@Url.Content("~/Content/images/table-loader.gif")" width="16" height="16"/></a>
                        }
                        else
                        {
                            if (machine.StatusEnum == Aneka.PAL.Management.Model.DaemonProbeStatus.ServiceStarted)
                            {
                                <a title="@machine.StatusEnum" class="with-tip"><img src="@Url.Content("~/Content/images/icons/fugue/status.png")" width="16" height="16"/></a>
                            }
                            else
                            {
                                if (machine.StatusEnum == Aneka.PAL.Management.Model.DaemonProbeStatus.ServiceStopped)
                                {
                                    <a title="@machine.StatusEnum" class="with-tip"><img src="@Url.Content("~/Content/images/icons/fugue/status-busy.png")" width="16" height="16"/></a>
                                }
                                else
                                {
                                    if (machine.StatusEnum == Aneka.PAL.Management.Model.DaemonProbeStatus.NetworkNotReachable)
                                    {
                                        <a title="@machine.StatusEnum" class="with-tip"><img src="@Url.Content("~/Content/images/icons/fugue/status-offline.png")" width="16" height="16"/></a>
                                    }
                                    else
                                    {
                                        if (machine.StatusEnum == Aneka.PAL.Management.Model.DaemonProbeStatus.BadCredentials)
                                        {
                                            <a title="@machine.StatusEnum" class="with-tip"><img src="@Url.Content("~/Content/images/icons/fugue/user-silhouette-question.png")" width="16" height="16"/></a>
                                        }
                                        else
                                        {
                                            if (machine.ProgressMesage != null && machine.StatusEnum == Aneka.PAL.Management.Model.DaemonProbeStatus.Unknown)
                                            {
                                                <a title="Error: @machine.ProgressMesage" class="with-tip"><img src="@Url.Content("~/Content/images/icons/fugue/exclamation-diamond.png")" width="16" height="16"/></a>
                                            }
                                            else
                                            {
                                                <a title="@machine.StatusEnum" class="with-tip"><img src="@Url.Content("~/Content/images/icons/fugue/exclamation-diamond.png")" width="16" height="16"/></a>
                                            }
                                        }

                                    }
                                }
                            }
                        }
                        </li>
                        <li><a href="@Url.Action("RefreshMachine", "_Machines", new { id = machine.MachineId })" title="Refresh" class="with-tip">
                            <img src="@Url.Content("~/Content/images/icons/fugue/arrow-circle.png")" width="16" height="16"></a>
                            </li>

                        <li><a href="#" onclick="openModalWindow(@Html.DisplayFor(widgetItem => machine.MachineId),'Edit','_Machines')" title="Edit" class="with-tip">
                            <img src="@Url.Content("~/Content/images/icons/fugue/pencil.png")" width="16" height="16"></a></li>
                        <li><a href="#" onclick="openModalWindow(@Html.DisplayFor(widgetItem => machine.MachineId),'Delete','_Machines')" title="Delete" class="with-tip">
                            <img src="@Url.Content("~/Content/images/icons/fugue/cross-circle.png")" width="16" height="16"></a></li>
                        <li>
                            <input type="checkbox" name="selected[]" id="@Html.DisplayFor(widgetItem => machine.MachineId)" value="1"></li>
                    </ul>
                </li>
            }
        </ul>
        <ul class="message no-margin">
            <li>@pool.Machines.Count() Machines</li>
        </ul>
        <div class="block-footer">
            <a href="#" onclick="openModalWindow(@Html.DisplayFor(widgetItem => pool.ResourcePoolId),'Details','_ResourcePools',null,1600)" class="button">
                List</a> <a href="#" onclick="openModalWindow('','','')" class="button">
                    <!-- TO BE IMPLEMENTED -->
                    Link selected machines to login credential</a> <a href="#" onclick="openModalWindow(@Html.DisplayFor(modelItem => pool.ResourcePoolId),'Edit','_ResourcePools','Edit Resource Pool')" class="button">
                        Edit this resource pool</a> <a href="#" onclick="openModalWindow(@Html.DisplayFor(modelItem => pool.ResourcePoolId),'Create','_Machines')" class="button">
                            Add new machine to this resource pool</a> <a href="#" onclick="openModalWindow('','','')"
                                class="button">
                                <!-- TO BE IMPLEMENTED -->
                                Delete all selected machines</a> <a href="#" onclick="openModalWindow('','','')"
                                    class="button">
                                    <!-- TO BE IMPLEMENTED -->
                                    Create new cloud from selected machines</a> <a href="#" onclick="openModalWindow('','','')"
                                        class="button">
                                        <!-- TO BE IMPLEMENTED -->
                                        Create new workers from selected machines</a> <span class="sep">
            </span><a href="#" class="button" onclick="openModalWindow(@Html.DisplayFor(modelItem => pool.ResourcePoolId),'Delete','_ResourcePools','Remove Machine')">
                <img src="@Url.Content("~/Content/images/icons/fugue/cross-circle.png")" width="16" height="16">
                Delete this resource pool</a>
        </div>
    </div>
    <br />
    <br />
    <br />
}