<!--
  Copyright 2011,2012 CLOUDS Laboratory, The University of Melbourne
   
   This file is part of Cloud Web Portal (CWP).
 
   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at
 
       http://www.apache.org/licenses/LICENSE-2.0
 
   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
-->

@model CloudWebPortal.Models.Service
@{
    Layout = null;
}
<div class="block-content">
    <h1>
        Delete Confirmation</h1>
    <div class="block-controls">
        <ul class="controls-buttons">
            <li class="sep"></li>
            <li id="Widget_Link"><a href="#" onclick="openModalWindow_ForWidget('@HttpContext.Current.User.Identity.Name','Delete','_Services',3,@Model.ServiceId)" title="Add This Widget To The Dashboard">
                <img src="@Url.Content("~/Content/images/icons/fugue/plus-circle.png")" width="16" height="16"></a></li>
        </ul>
    </div>
    <div class="infos">
        <h3>
            Remove Service</h3>
        <p>
            Are you sure that you want to remove "<strong>@Html.DisplayFor(model => model.Name)</strong>"
            service?</p>
        <p>
            Number of workers associated to this service: <a href="#" onclick="openModalWindow(@Html.DisplayFor(widgetItem => widgetItem.ServiceId),'Details','_Services',null,600)">
                <strong>@Model.Workers.Count()</strong></a></p>
        p> Number of masters associated to this service: <a href="#" onclick="openModalWindow(@Html.DisplayFor(widgetItem => widgetItem.ServiceId),'Details','_Services',null,600)">
            <strong>@Model.Masters.Count()</strong></a></p>
    </div>
    <div class="block-footer">
        @using (Html.BeginForm("DeletePost", "_Services", FormMethod.Post, new { @class = "form" }))
        {
            @Html.HiddenFor(model => model.ServiceId)
            <p>
                <button type="submit" class="button full-width">
                    Yes, I'm sure</button>
            </p>
        }
    </div>
</div>
