<!--
  Copyright 2011,2012 CLOUDS Laboratory, The University of Melbourne
   
   This file is part of Cloud Web Portal (CWP).
 
   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at
 
       http://www.apache.org/licenses/LICENSE-2.0
 
   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
-->

@model CloudWebPortal.Areas.Aneka.Models.MachineLoginCredential
@{
    Layout = null;
}
<div class="block-content">
    <h1>
        Machines Uses Login Username: @Model.Username</h1>
    <div class="block-controls">
        <ul class="controls-buttons">
            <li class="sep"></li>
            <li id="Widget_Link"><a href="#" onclick="openModalWindow_ForWidget('@HttpContext.Current.User.Identity.Name','Details','_MachinesLoginCredentials',9,@Model.MachineLoginCredentialId)" title="Add This Widget To The Dashboard">
                <img src="@Url.Content("~/Content/images/icons/fugue/plus-circle.png")" width="16" height="16"></a></li>
        </ul>
    </div>
    <ul class="arbo with-title">
        <li>
            <!-- Add the class toggle to a title to make it open/close its branch -->
            <a href="#" class="title-computer">Machines</a>
            <ul>
                @if (Model.Machines.Count() > 0)
                {
                    foreach (var machine in Model.Machines)
                    {

                    <li class="close"><span class="toggle"></span><a href="#" onclick="openModalWindow(@Html.DisplayFor(modelItem => machine.MachineId),'Details','_Machines', null,1100,'Aneka')" class="folder">
                        <span>@machine.DisplayName</span></a>
                        <ul>
                            <li><a href="#" class="document-binary"><span>IP: @machine.IP</span></a></li>
                            <li><a href="#" class="document-binary"><span>Platform: @machine.Platform.Platform</span></a></li>
                            <li><a href="#" class="document-binary"><span>Type: @machine.Type.Type</span></a></li>
                            <li><a href="#" class="document-binary"><span>achine/Daemon Status:@machine.StatusEnum</span></a></li>
                        </ul>
                    </li>
                    }
                }
                else
                {
                    <!-- Display message for empty folders or loading errors -->
                    <li><span class="empty">Empty</span></li>
                }
            </ul>
        </li>
    </ul>
    <div class="block-footer">
        <a href="#" onclick="openModalWindow(@Html.DisplayFor(modelItem => modelItem.MachineLoginCredentialId),'Edit','_MachinesLoginCredentials','Edit Machines Login Credential',600,'Aneka')" class="button">
            Edit this credential</a> <span class="sep"></span><a href="#" class="button" onclick="
            @Html.DisplayFor(modelItem => modelItem.MachineLoginCredentialId),'Delete','_MachinesLoginCredentials','Remove Machines Login Credential',600,'Aneka')">
                <img src="@Url.Content("~/Content/images/icons/fugue/cross-circle.png")" width="16" height="16">
                Remove this credential</a>
    </div>
</div>
